<div *ngIf="districtData != undefined && districtData.length > 0">
    <table mat-table [dataSource]="districtData">
        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef> District </th>
            <td mat-cell *matCellDef="let data">
                    {{data.district}}
            </td>
        </ng-container>
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let data"> {{data.active}} </td>
        </ng-container>
        <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef> Confirmed </th>
            <td mat-cell *matCellDef="let data"> {{data.confirmed}} </td>
        </ng-container>
        <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef> Deceased </th>
            <td mat-cell *matCellDef="let data"> {{data.deceased}} </td>
        </ng-container>
        <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef> Recovered </th>
            <td mat-cell *matCellDef="let data"> {{data.recovered}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>